#container-navbar {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: white;
  width: auto;
}

#container1nav {
  width: auto;
  height: auto;
}

#container2nav {
  width: auto;
}

#container3nav {
  width: 270px;
}

#container4nav {
  width: 600px;
}

#container5nav {
  width: 500px;
}

#container6nav {
  position: absolute;
  right: 0;
  z-index: 100;
  width: auto;
}

#menu {
  color: darkgray;
  margin-top: 15px;
}

#logonavbar {
  height: 17px;
  margin-top: 20px;
}

#search {
  width: 100%;
  height: 26px;
  margin-left: 22px;
  border-top: .5px solid #bdbdbd;
  border-right: .5px solid #bdbdbd;
  border-bottom: .5px solid #bdbdbd;
  border-left: .5px solid #bdbdbd;
  border-radius: 2px;
  padding: 0 0 0 15px;
  font-size: 17px;
  margin-left: 50px;
  padding-right: 15px;
  margin-top: 15px;
  padding-bottom: -50px;
}

#search::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search:-ms-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search::-ms-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search::placeholder {
  color: black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btnsearch {
  background-color: #f5f5f5;
  border-top: .5px solid #bdbdbd;
  border-right: .5px solid #bdbdbd;
  border-bottom: .5px solid #bdbdbd;
  border-left: .5px solid #bdbdbd;
  color: gray;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 27.5px;
  margin-left: 15px;
  margin-top: 15px;
  padding-bottom: -50px;
}

.material-icons.search {
  font-size: 18px;
  padding-top: 5%;
}

#videocall {
  color: gray;
}

.material-icons.perfil {
  font-size: 35px;
  color: blue;
  margin-top: -6px;
  margin-right: 25px;
}

@media screen and (max-width: 790px) {
  #container3nav {
    width: 250px;
  }
  #container4nav {
    width: 350px;
  }
  #container5nav {
    width: 250px;
  }
}

.my-fixed-item {
  position: fixed;
  min-height: 120px;
  width: 252px;
  text-align: center;
  word-wrap: break-word;
  background-color: aquamarine;
}

position-fixed {
  position: fixed;
}

#containerlogin {
  width: auto;
  margin-top: 100px;
  padding: 5px 0 0 5px;
  width: 500px;
  left: 0;
  top: 0;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding-bottom: 55px;
}

.containerloginsmall {
  width: auto;
}

#google {
  padding-top: 10%;
}

#logogoogle {
  height: 27px;
  margin-top: 5%;
}

#containertxt1 {
  height: 50px;
  margin-top: 1%;
}

#txt1 {
  font-size: 28px;
  text-align: center;
  margin-top: 8%;
}

#txt2 {
  margin-top: 8%;
  font-size: 17px;
  text-align: center;
}

#txt4 {
  text-align: left;
  margin-left: 45px;
  margin-top: 10%;
  margin-right: 25px;
  font-size: 15px;
}

#txt6 {
  float: left;
  margin-left: 35px;
  font-size: 17px;
}

#user {
  margin-top: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  left: 0;
  right: 0;
  border-radius: 5px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
}

#email {
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  float: center;
  padding-left: 5%;
  padding-right: 5%;
}

#emailforgot {
  float: left;
  margin-left: 45px;
  margin-top: -15px;
  font-size: 15px;
  font-family: sans-serif;
}

#user:focus {
  border-top: .10px solid #0059ffec;
  border-right: .10px solid #0059ffec;
  border-bottom: .10px solid #0059ffec;
  border-left: .10px solid #0059ffec;
  line-height: 80px;
}

#labelinput {
  padding: 5px 0 0 5px;
  height: 140px;
  left: 60;
  top: 10;
  font-size: 18px;
  font-family: sans-serif;
}

#buttons {
  margin-top: 5%;
}

.dropdown-content {
  height: auto !important;
}

.footer {
  width: auto;
  margin-top: 10px;
  padding: 5px 0 0 5px;
  width: 500px;
}

.footer2 {
  margin-left: 0px;
}

#dropdown2btn {
  margin-right: 40px;
}

@media screen and (max-width: 650px) {
  #containerlogin {
    margin-top: 0px;
    top: 0;
    width: 100%;
    border: none;
    margin-right: 25px;
  }
  .footer {
    width: 90%;
    margin-left: 45px;
  }
  .footer2 {
    width: auto;
    margin-left: 45px;
  }
  #dropdown2 {
    margin-right: 60px;
  }
}

@media screen and (max-width: 380px) {
  #emailforgot {
    margin-left: 20px;
    font-size: 14px;
  }
  #labelinput {
    width: 160px;
    margin-left: -30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #txt4 {
    margin-top: 20%;
    margin-left: 20px;
    width: 90%;
  }
  #txt6 {
    margin-left: 5px;
  }
  #txt7 {
    margin-left: -10px;
  }
  .footer {
    margin-top: 50px;
    margin-left: 20px;
  }
  .footer2 {
    margin-top: -5px;
  }
  .footer3 {
    margin-left: -10px !important;
    margin-top: 10px;
  }
}

#containeregister {
  margin-top: 100px;
  height: 550px;
  padding: 5px 0 0 5px;
  width: 735px;
  left: 0;
  top: 0;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  padding-bottom: 55px;
}

#googleregister {
  height: 40px;
  padding-top: 5%;
}

#logogoogleregister {
  height: 27px;
  float: left;
  margin-left: 40px;
}

#txtContainer1register {
  height: 50px;
  margin-top: 1%;
  font-size: 28px;
  text-align: left;
}

#txt1register {
  margin-left: 40px;
}

#txtContainer2register {
  height: 40px;
  margin-top: 1%;
  font-size: 17px;
  text-align: left;
}

#txt2register {
  margin-left: 40px;
}

#txt4 {
  text-align: left;
  margin-left: 45px;
  margin-top: 10%;
  margin-right: 25px;
  font-size: 15px;
}

#txt6 {
  float: left;
  margin-left: 35px;
  font-size: 17px;
}

#nombreregister {
  margin-left: 25px;
}

#nombre_input_register {
  width: 110% !important;
  margin-top: 20px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#nombreregister:focus {
  border-top: .10px solid #0059ffec;
  border-right: .10px solid #0059ffec;
  border-bottom: .10px solid #0059ffec;
  border-left: .10px solid #0059ffec;
}

#labelnombreregister {
  padding: 5px 0 0 5px;
  left: 40;
  top: 13;
  font-size: 15px;
  margin-left: -20px;
  font-family: sans-serif;
}

#apellidoregister {
  width: 29% !important;
}

#apellido_input_register {
  width: 100% !important;
  margin-top: 20px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#apellido_input_register:focus {
  border-top: .10px solid #0059ffec;
  border-right: .10px solid #0059ffec;
  border-bottom: .10px solid #0059ffec;
  border-left: .10px solid #0059ffec;
}

#labelapellidoregister {
  padding: 5px 0 0 5px;
  left: 40;
  top: 14;
  font-size: 15px;
  margin-left: -20px;
  font-family: sans-serif;
}

#apellido_input {
  margin-top: 20px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#apellido:focus {
  border-top: .10px solid #0059ffec;
  border-right: .10px solid #0059ffec;
  border-bottom: .10px solid #0059ffec;
  border-left: .10px solid #0059ffec;
}

#labelapellido {
  padding: 5px 0 0 5px;
  left: 40;
  top: 18;
  font-size: 15px;
  margin-left: -20px;
  font-family: sans-serif;
}

#correoregister {
  width: 244.1% !important;
}

#correo_input_register {
  width: 101%;
  margin-left: -18px;
  margin-top: 0px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#txt3register {
  margin-top: -130px;
}

#txt3register_p {
  font-size: 13px;
  float: left;
  margin-left: 35px;
}

#txt4register {
  margin-top: -92px;
}

#txt4register_a {
  font-size: 15px;
  float: left;
  margin-left: 35px;
}

#contrasenaregister {
  margin-left: 30px;
}

#google_protect {
  height: 250px;
  margin-top: -90px;
  margin-left: 230px;
}

#container_contrasena_register {
  margin-top: -70px;
  margin-left: 14px;
}

#contrasena_input_register {
  width: 120%;
  margin-left: -18px;
  margin-top: 0px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#confirmar_input_register {
  width: 120%;
  margin-left: -8px;
  margin-top: 0px;
  left: 0;
  right: 0;
  border-radius: 5px;
  -webkit-transform-origin: 6.6px center 0px;
          transform-origin: 6.6px center 0px;
  border-top: .8px solid gray;
  border-right: .8px solid gray;
  border-bottom: .8px solid gray;
  border-left: .8px solid gray;
  height: 35px;
}

#txt5register {
  margin-top: -30px;
  margin-left: 35px;
}

#txt5register_p {
  text-align: left;
  font-size: 13px;
}

#buttons_register {
  margin-top: 25px;
  margin-left: -68px;
}

.footer {
  text-align: center;
}

.footer2 {
  margin-left: 30px;
}

.trigger_registrar {
  margin-left: -250px;
}

.trigger_registrar_right {
  margin-left: -220px;
  float: left;
}

#btnregister {
  margin-left: -50px;
}

@media screen and (max-width: 980px) {
  #containeregister {
    margin-top: 100px;
    padding: 5px 0 0 5px;
    width: 450px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding-bottom: 55px;
  }
  #nombreregister {
    width: 40% !important;
  }
  #labelnombreregister {
    top: 19;
  }
  #apellidoregister {
    margin-top: 14px;
    margin-left: 50px;
    width: 40% !important;
  }
  #apellido_input_register {
    width: 105% !important;
    margin-left: -65px;
  }
  #labelapellidoregister {
    padding: 5px 0 0 5px;
    left: 5;
    top: 18;
    font-size: 15px;
    font-family: sans-serif;
  }
  #correoregister {
    width: 240% !important;
  }
  #txt3register {
    margin-top: -45px;
  }
  #txt4register {
    margin-top: -10px;
  }
  #container_contrasena_register {
    margin-top: 10px;
  }
  #contrasenaregister {
    width: 70% !important;
  }
  #confirmaregister {
    width: 70% !important;
    margin-top: -59px;
    margin-left: 190px;
  }
  #txt5register {
    width: 70% !important;
  }
  #buttons_register {
    margin-left: 5px;
  }
  #btnregister {
    margin-left: 10px;
  }
  .trigger_registrar {
    margin-left: 0px;
  }
  #google_protect {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #containeregister {
    margin-left: -15px;
    margin: 0;
    padding: 0;
  }
  #txt1register {
    font-size: 23px;
  }
  #txtContainer2register {
    margin-top: 25px;
  }
  #nombreregister {
    width: 90% !important;
  }
  #nombre_input_register {
    width: 100% !important;
  }
  #apellidoregister {
    margin-top: -150px;
    margin-left: 58px;
    width: 90% !important;
  }
  #apellido_input_register {
    width: 100% !important;
  }
  #correoregister {
    margin-top: 70px;
    margin-left: 8px;
    width: 100.5% !important;
  }
  #correo_input_register {
    width: 103% !important;
  }
  #contrasenaregister {
    width: 140% !important;
  }
  #confirmaregister {
    margin-top: 55px;
    margin-left: 20px;
    width: 140% !important;
  }
  #txt3register_p {
    text-align: left;
    font-size: 12px;
  }
  #txt4register_a {
    font-size: 14px;
  }
  #txt5register {
    margin-top: -140px;
  }
}

@media screen and (max-width: 400px) {
  #txt6register {
    margin-top: 50px;
    float: center;
  }
  #btnregister {
    margin-left: -30px;
  }
  .footer2 {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 650px) {
  #containeregister {
    margin-top: 0px;
    top: 0;
    width: 100%;
    border: none;
    margin-right: 25px;
  }
  .footer {
    width: 90%;
    margin-left: 45px;
  }
  .footer2 {
    width: auto;
    margin-left: 45px;
  }
  #dropdown2 {
    margin-right: 60px;
  }
}

@media screen and (max-width: 380px) {
  #emailforgot {
    margin-left: 20px;
    font-size: 14px;
  }
  #labelinput {
    width: 160px;
    margin-left: -30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #txt4 {
    margin-top: 20%;
    margin-left: 20px;
    width: 90%;
  }
  #txt6 {
    margin-left: 5px;
  }
  #txt7 {
    margin-left: -10px;
  }
  .footer {
    margin-top: 50px;
    margin-left: 20px;
  }
  .footer2 {
    margin-top: -5px;
  }
  .footer3 {
    margin-left: -10px !important;
    margin-top: 10px;
  }
}

#txt1_susc {
  font-size: 15px;
  float: left;
}

#container2suscripcion {
  margin-top: 10px;
  height: 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  border: none;
}

#card_premium {
  width: 230px;
  text-align: left;
  border: none;
}

#logo_premium {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: .8px solid lightgray;
  border-right: .8px solid lightgray;
  border-bottom: .8px solid lightgray;
  border-left: .8px solid lightgray;
}

.card-content {
  top: 0;
  text-align: left;
}

#txt2_susc {
  font-size: 15px;
}

#txt3_susc {
  font-size: 12px;
}

#txt4_susc {
  font-size: 15px;
}

div #hola {
  width: 700px;
  height: 400px;
  margin-left: 200px;
  text-align: center;
}

#partebaja {
  width: 700px;
  height: 35%;
  margin-top: 20px;
  margin-left: 200px;
}

.card #file {
  margin-left: 25%;
  position: absolute;
  height: 100%;
  color: transparent;
  opacity: 0;
}

.card #upload {
  margin-left: -3%;
  display: relative;
}

#div_file {
  width: 20%;
  position: relative;
  margin-left: 40%;
  margin-top: 3%;
}

h5 {
  text-align: center;
  color: gray;
}

#implementacion {
  text-align: center;
  margin-top: 60px;
  color: gray;
}

#imagen {
  width: 300px;
  height: 150px;
  float: right;
  margin-right: 130px;
  margin-top: -415px;
}

#live {
  width: 300px;
  height: 200px;
  float: right;
  margin-right: 130px;
  margin-top: -250px;
}

#estrenos {
  width: 300px;
  height: 250px;
  float: right;
  margin-right: 130px;
  margin-top: -35px;
}

#estrenos2, #live2 {
  margin-top: 80%;
  padding: 10px;
}

#imagen2 {
  margin-top: 10%;
}

#estrenos3, #live3 {
  margin-top: 15%;
}

#texto {
  color: gray;
}
/*# sourceMappingURL=youtube.css.map */