mixin header_component
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- Compiled and minified CSS
    link(rel="stylesheet" href="sass/materialize.css")
    //- Import Google Icon Font
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //- CSS
    link(href="sass/youtube.css" rel="stylesheet")
    link(href="sass/sidenav.css" rel="stylesheet")
    link(href="sass/subir_video.css" rel="stylesheet")

    title YouTube
