mixin navbar_component
  div#container-navbar
    center
      div(class="row" style="margin-bottom:0px;")
        div#container1nav(class="col s1")
          +sidenav_component
        div#container2nav(class="col s2")
          a(href="/")
            img#logonavbar(src="img/logo.png", alt="" class="left-align")
        div#container3nav(class="col s2 m2 l3 xl3 hide-on-med-only")

        div#container4nav(class="col hide-on-small-only")
          div(class="row" style="margin-bottom:0px;")
            div(class="col m6 l7 xl9")
              input#search(type="search" placeholder="Search")
            div(class="col m2")
              i#btnsearch(class="waves-effect material-icons btn-gray search") search
        div#container5nav(class="col m2 hide-on-med-down")

        div#container6nav(class="col s3")
          .section
            div(class="col s2 m3 hide-on-med-and-up show-on-small")
              a#videocall(class="material-icons" href="#") search
            div(class="col s2 m3 xl2")
              a#videocall(class="material-icons" href="subir_video") video_call
            div(class="col s2 m3 xl2")
              a#videocall(class="material-icons" href="#") blur_on
            div(class="col s2 m3 hide-on-small-only xl3")
              a#videocall(class="material-icons" href="#") notifications
            div(class="col s2 m2")
              a#perfil(class="material-icons perfil dropdown-trigger" data-target="dropdown3" style="width: 305px; margin-left: -150px") account_circle
                ul(class="dropdown-content" id="dropdown3")
                  img(style="width: 290px;  margin-left: 100px;" src="img/profile.JPG")
                  div(style="padding-top: 2px;")
                    a
                      p(style="margin-left: -55px; color: #065FD5; font-size: 14.5px; font-weight: 500" href="") Administra tu cuenta Google
                  div(style="padding-top: 5px; padding-bottom: 5px;")
                    li(class="divider" tabindex="-1")
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px; margin-top:15px;") account_box
                      p(style=" color: black; font-size: 15px;") Tu cuenta
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") monetization_on
                      p(style=" color: black; font-size: 15px;") Membresias pagadas
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") settings
                      p(style=" color: black; font-size: 15px;") youtube Studio(BETA)
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") account_box
                      p(style=" color: black; font-size: 15px;") Cambiar cuenta
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") open_in_new
                      p(style=" color: black; font-size: 15px;") Salir
                  div(style="padding-top: 13px; padding-bottom: 8px;")
                    li(class="divider" tabindex="-1")
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") brightness_4
                      p(style=" color: black; font-size: 15px;") Tema Oscuro: Activado
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") brightness_4
                      p(style=" color: black; font-size: 15px;") Idioma: Español
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") language
                      p(style=" color: black; font-size: 15px;") Idioma: Español
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") settings
                      p(style=" color: black; font-size: 15px;") Configuración
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") security
                      p(style=" color: black; font-size: 15px;") Tus datos en youtube
                  li
                    a(href="")
                      i( class="material-icons" style="color: #9b9b9b; font-size: 23px;  margin-top:15") live_help
                      p(style=" color: black; font-size: 15px;") Ayuda

