mixin videos_component
	div(class="row")
		div(class="col s2")
		div(class="col s1")
			b Recomendados
	div(class="row")
		div(class="col s2")
		div(class="col s1")
			div(class="row")
				img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
			div(class="row")
				p hola
		div(class="col s1" style="margin-left:70px")
			div(class="row")
				img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
			div(class="row")
				p hola
		div(class="col s1" style="margin-left:70px")
			div(class="row")
				img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
			div(class="row")
				p hola
		div(class="col s1" style="margin-left:70px")
			div(class="row")
				img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
			div(class="row")
				p hola
		div(class="col s1" style="margin-left:70px")
			div(class="row")
				img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
			div(class="row")
				p hola
	div(class="row")
		div(class="col s2")
		div(class="col s8")
			hr