mixin videos_component
	div(style="background-color: #F9F9F9; margin-top:-50px")
		br
		each val in ['a','b','c','d','e','f','g','h']
			div(class="row")
				div(class="col s2")
				div(class="col s10")
					b Recomendados
			div(class="row")
				div(class="col s2")
				div(class="col s1")
					div(class="row")
						a(href="/reproducirvideo")
							img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
					a(href="/reproducirvideo")
						div(class="row" style="margin-top:-10px; width: 180px; height:100px")
							b(style="color: #000; font-size:15px") Gallina pifi
							p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
							p(style="color: #777; margin-top:-10px; font-size:11.94px") 275 M  visualizaciones
							p(style="color: #777; margin-top:-10px; font-size:11.94px") hace 5 años
				div(class="col s1" style="margin-left:70px")
					div(class="row")
						a(href="/reproducirvideo")
							img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
					a(href="/reproducirvideo")
						div(class="row" style="margin-top:-10px; width: 180px; height:100px")
							b(style="color: #000; font-size:15px") Gallina pifi
							p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
							p(style="color: #777; margin-top:-10px; font-size:11.94px") 275 M  visualizaciones
							p(style="color: #777; margin-top:-10px; font-size:11.94px") hace 5 años
				div(class="col s1" style="margin-left:70px")
					div(class="row")
						a(href="/reproducirvideo")
							img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
					a(href="/reproducirvideo")
						div(class="row" style="margin-top:-10px; width: 180px; height:100px")
							b(style="color: #000; font-size:15px") Gallina pifi
							p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
							p(style="color: #777; margin-top:-10px; font-size:11.94px") 275 M  visualizaciones
							p(style="color: #777; margin-top:-10px; font-size:11.94px") hace 5 años
				div(class="col s1" style="margin-left:70px")
					div(class="row")
						a(href="/reproducirvideo")
							img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
					a(href="/reproducirvideo")
						div(class="row" style="margin-top:-10px; width: 180px; height:100px")
							b(style="color: #000; font-size:15px") Gallina pifi
							p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
							p(style="color: #777; margin-top:-10px; font-size:11.94px") 275 M  visualizaciones
							p(style="color: #777; margin-top:-10px; font-size:11.94px") hace 5 años
				div(class="col s1" style="margin-left:70px")
					div(class="row")
						a(href="/reproducirvideo")
							img(style="height: 100px; width: 180px", src="img/presentacionvideo.png")
					a(href="/reproducirvideo")
						div(class="row" style="margin-top:-10px; width: 180px; height:100px")
							b(style="color: #000; font-size:15px") Gallina pifi
							p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
							p(style="color: #777; margin-top:-10px; font-size:11.94px") 275 M  visualizaciones
							p(style="color: #777; margin-top:-10px; font-size:11.94px") hace 5 años
			div(class="row")
				div(class="col s2")
				div(class="col s8")
					hr