html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Página Principal
    body
        center
            h1 Mario Montiel
            block content
            block footer
            script.
                alert("PRUEBON")
                console.log("Hola Mundo")