extends ../../../includes/template
block content
    div
        div(class="row")
            div(class="col")
            div(class="col s1")
                a(class="waves-effect material-icons btn-transparent pulse") menu

        //- a(class="waves-effect waves-light btn") button
        //- - Let nombre = 'Montiel'
        //- a(class="waves-effect waves-light btn") #{nombre}
        //- p Yeah
block footer
    p Adiós