div #hola
    width: 700px
    height: 340px
    margin-left: 200px
    position: fixed
    text-align: center
  
  #partebaja
    width: 700px
    height: 35%
    margin-top: 360px
    position: fixed
    margin-left: 200px

  .card #file
    margin-left: 25%
    position: absolute
    height: 100%
    color: transparent
    opacity: 0
    
  .card #upload
    margin-left: -3%
    display: relative
  
  #div_file
    width: 20%
    position: relative
    margin-left: 40%
    margin-top: 3%
  
  h5
    text-align: center
    color: gray
  
  #implementacion
    text-align: center
    margin-top: 35px
    color: gray
  
  #imagen
    width: 300px
    height: 150px
    margin-top: 8px
    left:920px
    position: fixed
  
  #live
    width: 300px
    height: 180px
    margin-top: 170px
    left:920px
    position: fixed
  
  #estrenos
    width: 300px
    height: 252px
    margin-top: 363px
    left:920px
    position: fixed
  
  #estrenos2, #live2
    margin-top: 80%
    padding: 10px
  
  #imagen2
    margin-top: 10%

  #estrenos3, #live3
    margin-top: 15%
  
  #texto
    color: gray
  
  