include componentes_pug/header
include componentes_pug/navbar
include componentes_pug/sidenav
include componentes_pug/videos
html(lang="en")
  +header_component

  body()

    +navbar_component
 
    //- Compiled and minified JavaScript
    script(href="js/app.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous")
    script(href="js/materialize.js")
    //- INICIALIZAR SIDENAV
    script.
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
        $('.dropdown-trigger').dropdown();
    +videos_component