
<html lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="sass/youtube.css" rel="stylesheet"/>
  <link href="sass/sidenav.css" rel="stylesheet"/>
  <title>YouTube</title>
  <body>
    <div>
      <center>
        <div class="row">
          <div class="col s1" id="container1">
            <ul class="sidenav" id="slide-out">
              <li:hover class="ppp"><a class="sidenav-close" href="#"><i class="material-icons">menu </i></a><img id="logoside" src="img/logo.png" alt=""/></li:hover>
              <li class="home"><a id="home" href="#!"><i class="material-icons home">home</i>
                  <h6 id="inicio">Inicio</h6></a></li>
              <li class="tendencias"><a id="trends" href="#!"><i class="material-icons trends">whatshot</i>
                  <h6 id="inicio">Tendencias</h6></a></li>
              <li class="subs"><a id="subscriptions" href="#"><i class="material-icons subscriptions">subscriptions</i>
                  <h6 id="inicio">Suscripciones</h6></a></li>
              <div class="divider"></div>
              <li class="biblioteca"><a id="subscriptions" href="#"><i class="material-icons biblioteca">folder</i>
                  <h6 id="inicio">Biblioteca</h6></a></li>
              <li class="historial"><a id="subscriptions" href="#"><i class="material-icons historial">history</i>
                  <h6 id="inicio">Historial</h6></a></li>
              <li class="mastarde"><a id="subscriptions" href="#"><i class="material-icons mastarde">watch_later</i>
                  <h6 id="inicio">Ver más tarde</h6></a></li>
              <li class="megusta"><a id="subscriptions" href="#"><i class="material-icons megusta">thumb_up</i>
                  <h6 id="inicio">Vídeos que te gustaron</h6></a></li>
              <div class="divider"></div>
              <li>
                <p class="subheader">SUSCRIPCIONES</p>
              </li>
              <div class="divider"></div>
              <li>
                <p class="subheader">MÁS DE YOUTUBE</p>
              </li>
            </ul><a class="sidenav-trigger" href="#" data-target="slide-out"><i class="material-icons menu">menu  </i></a>
            <ul class="sidenav sidenav-fixed z-depth-0 hide-on-small-only" id="slide-out">
              <li class="home"><a id="home" href="#!"><i class="material-icons home icono">home</i>
                  <h6 id="inicio">Inicio</h6></a></li>
              <li class="tendencias"><a id="trends" href="#!"><i class="material-icons trends icono">whatshot</i>
                  <h6 id="inicio">Tendencias</h6></a></li>
              <li class="subs"><a id="subscriptions" href="#"><i class="material-icons subscriptions icono">subscriptions</i>
                  <h6 id="inicio">Suscripciones</h6></a></li>
              <div class="divider"></div>
              <li class="biblioteca"><a id="subscriptions" href="#"><i class="material-icons biblioteca icono">folder</i>
                  <h6 id="inicio">Biblioteca</h6></a></li>
              <li class="historial"><a id="subscriptions" href="#"><i class="material-icons historial icono">history</i>
                  <h6 id="inicio">Historial</h6></a></li>
              <li class="mastarde"><a id="subscriptions" href="#"><i class="material-icons mastarde icono">watch_later</i>
                  <h6 id="inicio">Ver más tarde</h6></a></li>
              <li class="megusta"><a id="subscriptions" href="#"><i class="material-icons megusta icono">thumb_up</i>
                  <h6 id="inicio">Vídeos que te gustaron</h6></a></li>
              <div class="divider"></div>
              <li>
                <p class="subheader">SUSCRIPCIONES</p>
              </li>
              <div class="divider"></div>
              <li>
                <p class="subheader">MÁS DE YOUTUBE</p>
              </li>
            </ul><a class="sidenav-trigger" href="#" data-target="slide-out"></a>
          </div>
          <div class="col s2" id="container2"><img class="left-align" id="logo" src="img/logo.png" alt=""/></div>
          <div class="col s2 m2 l3 xl3 hide-on-med-only" id="container3"></div>
          <div class="col hide-on-small-only" id="container4">
            <div class="row">
              <div class="input-field col m6 l7 xl9">
                <input id="search" type="search" placeholder="Search"/>
              </div>
              <div class="input-field col m2 pulse"><i class="waves-effect material-icons btn-gray search" id="btnsearch">search</i></div>
            </div>
          </div>
          <div class="colm2 hide-on-med-down" id="container5"></div>
          <div class="col s3" id="container6">
            <div class="section">
              <div class="col s2 m3 hide-on-med-and-up show-on-small"><a class="material-icons" id="videocall" href="#">search</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">video_call</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">blur_on</a></div>
              <div class="col s2 m3 hide-on-small-only xl3"><a class="material-icons" id="videocall" href="#">notifications</a></div>
              <div class="col s2 m2"><a class="material-icons perfil" id="perfil">account_circle</a></div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);
        
      
      });
    </script>
  </body>
</html>