
<html lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="sass/youtube.css" rel="stylesheet"/>
  <link href="sass/sidenav.css" rel="stylesheet"/>
  <title>YouTube</title>
  <body>
    <div>
      <center>
        <div class="row">
          <div class="col s1" id="container1">
            <ul class="sidenav" id="slide-out">
              <li:hover class="ppp"><a class="sidenav-close" href="#"><i class="material-icons">menu </i></a><img id="logoside" src="img/logo.png" alt=""/></li:hover>
              <li class="home"><a id="home" href="#!"><i class="material-icons home">home</i>
                  <h6 id="inicio">Inicio</h6></a></li>
              <li class="tendencias"><a id="trends" href="#!"><i class="material-icons trends">whatshot</i>
                  <h6 id="inicio">Tendencias</h6></a></li>
              <li class="subs"><a id="subscriptions" href="#"><i class="material-icons subscriptions">subscriptions</i>
                  <h6 id="inicio">Subscripciones</h6></a></li>
              <div class="divider"></div>
              <li class="biblioteca"><a id="subscriptions" href="#"><i class="material-icons biblioteca">folder</i>
                  <h6 id="inicio">Biblioteca</h6></a></li>
              <li class="historial"><a id="subscriptions" href="#"><i class="material-icons historial">history</i>
                  <h6 id="inicio">Historial</h6></a></li>
              <li class="mastarde"><a id="subscriptions" href="#"><i class="material-icons mastarde">watch_later</i>
                  <h6 id="inicio">Ver más tarde</h6></a></li>
              <li class="megusta"><a id="subscriptions" href="#"><i class="material-icons megusta">thumb_up</i>
                  <h6 id="inicio">Vídeos que te gustaron</h6></a></li>
            </ul><a class="sidenav-trigger" href="#" data-target="slide-out"><i class="material-icons menu">menu    </i></a>
          </div>
          <div class="col s2" id="container2"><img class="left-align" id="logo" src="img/logo.png" alt=""/></div>
          <div class="col s2 m2 l3 xl3 hide-on-med-only" id="container3"></div>
          <div class="col hide-on-small-only" id="container4">
            <div class="row">
              <div class="input-field col m6 l7 xl9">
                <input id="search" type="search" placeholder="Search"/>
              </div>
              <div class="input-field col m2 pulse"><i class="waves-effect material-icons btn-gray search" id="btnsearch">search</i></div>
            </div>
          </div>
          <div class="colm2 hide-on-med-down" id="container5"></div>
          <div class="col s3" id="container6">
            <div class="section">
              <div class="col s2 m3 hide-on-med-and-up show-on-small"><a class="material-icons" id="videocall" href="#">search</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">video_call</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">blur_on</a></div>
              <div class="col s2 m3 hide-on-small-only xl3"><a class="material-icons" id="videocall" href="#">notifications</a></div>
              <div class="col s2 m2"><a class="material-icons perfil dropdown-trigger" id="perfil" data-target="dropdown2">account_circle
                  <ul class="dropdown-content" id="dropdown2"><img style="width: 290px;" src="img/profile.JPG"/>
                    <div style="padding-top: 8px;"><a style=" color: black; font-size: 15px;">
                        <p style="padding-left: 38px; color: #065FD5; font-size: 14.5px; font-weight: 500" href="">Administra tu cuenta Google</p></a></div>
                    <div style="padding-top: 13px; padding-bottom: 8px;">
                      <li class="divider" tabindex="-1"></li>
                    </div>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">account_box</i>
                        <p style=" color: black; font-size: 15px;">Tu cuenta</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">monetization_on</i>
                        <p style=" color: black; font-size: 15px;">Membresias pagadas</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">settings</i>
                        <p style=" color: black; font-size: 15px;">youtube Studio(BETA)</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">account_box</i>
                        <p style=" color: black; font-size: 15px;">Cambiar cuenta</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">open_in_new</i>
                        <p style=" color: black; font-size: 15px;">Salir</p></a></li>
                    <div style="padding-top: 13px; padding-bottom: 8px;">
                      <li class="divider" tabindex="-1"></li>
                    </div>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">brightness_4</i>
                        <p style=" color: black; font-size: 15px;">Tema Oscuro: Activado</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">brightness_4</i>
                        <p style=" color: black; font-size: 15px;">Idioma: Español</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">language</i>
                        <p style=" color: black; font-size: 15px;">Idioma: Español</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">settings</i>
                        <p style=" color: black; font-size: 15px;">Configuración</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">security</i>
                        <p style=" color: black; font-size: 15px;">Tus datos en youtube</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">live_help</i>
                        <p style=" color: black; font-size: 15px;">Ayuda</p></a></li>
                  </ul></a></div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);
      });
      $('.dropdown-trigger').dropdown();
    </script>
  </body>
</html>