
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="sass/youtube.css" rel="stylesheet"/>
    <title>YouTube</title>
  </head>
  <body>
    <div></div>
    <center>
      <div class="row">
        <div class="col s1" id="container1"><a class="waves-effect material-icons btn-transparent pulse" id="menu">menu</a></div>
        <div class="col s2" id="container2"><img class="left-align" id="logo" src="img/logo.png" alt=""/></div>
        <div class="col s2 m2 l3 xl3 hide-on-med-only" id="container3"></div>
        <div class="col hide-on-small-only" id="container4">
          <div class="row">
            <div class="input-field col m6 l7 xl9">
              <input id="search" type="search" placeholder="Search"/>
            </div>
            <div class="input-field col m2 pulse"><i class="waves-effect material-icons btn-gray search" id="btnsearch">search</i></div>
          </div>
        </div>
        <div class="colm2 hide-on-med-down" id="container5"></div>
        <div class="col s3" id="container6">
          <div class="section">
            <div class="col s2 m3 hide-on-med-and-up show-on-small"><a class="material-icons" id="videocall" href="#">search</a></div>
            <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">video_call</a></div>
            <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">blur_on</a></div>
            <div class="col s2 m3 hide-on-small-only xl3"><a class="material-icons" id="videocall" href="#">notifications</a></div>
            <div class="col s2 m2"><a class="material-icons perfil" id="perfil">account_circle</a></div>
          </div>
        </div>
      </div>
    </center><div class="my-fixed-item">
    <Columna>SIDEBAR</Columna></div>
<p style="margin-top: 50rem"> asdfasd </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      //- alert("PRUEBON")
      //- console.log("Hola Mundo")
    </script>
  </body>
</html>