include componentes_pug/header
html(lang="en")
    +header_component
    body
        center
            .container#containerlogin(class="col s12")
                .row
                    .container#google(class="col s12")
                        img#logogoogle(src="img/google.png", alt="")
                    .container#containertxt1(class="col s12") 
                        p#txt1 Acceder
                    .container#containertxt2(class="col s12") 
                        p#txt2 Continuar con YouTube
                    .container(class="col s12")
                        .container#subcontainer1(class="col s4 hide-on-small-only")
                        .container#email(class="input-field col s12")
                            label#labelinput(for="user") Correo electrónico o teléfono
                            input(id="user" type="email" class="validate section")
                        .container#subcontainer2(class="col s4 hide-on-small-and-down")
                    .container(class="col s12")
                        b 
                            a#emailforgot(href="#") ¿Olvidaste tu correo electrónico?
                    .container(class="col s12")
                        p#txt4 ¿Esta no es tu computadora? Usa una ventana privada para acceder 
                            a#txt5(href="#") 
                                b Más información
                    .container#buttons(class="col s12")
                        .container(class="col s7")
                            a#txt6(class="dropdown-trigger" href="#!" data-target="dropdown1") Crear cuenta

                            ul(id='dropdown1' class='dropdown-content')
                                li
                                    a(href="/register") Para mi
                                li
                                    a(href="/register") Para administrar mi negocio

                        .container(class="col s5")
                            a#txt7(class="btn submit" href="/")
                                b Siguiente
        .container(class="footer col s12")
            .row
                .container(class="footer2 col s11 m6")

                    a(class="dropdown-trigger" href="#!" data-target="dropdown2") Español (Latinoamerica)
                        i#dropdown2btn(class="material-icons right") arrow_drop_down

                    ul(id='dropdown2' class='dropdown-content')
                        li
                            a(href="#!") one
                        li
                            a(href="#!") one
                        li
                            a(href="#!") one
                    
                    
                
                .container(class="footer3 col s12 m6")
                
                    a#txt8(class="col s3") Ayuda

                    a#txt9(class="col s4") Privacidad

                    a#txt10(class="col s3") Condiciones

    script.
        $('.dropdown-trigger').dropdown();
        