
<html lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="sass/materialize.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="sass/youtube.css" rel="stylesheet"/>
  <link href="sass/sidenav.css" rel="stylesheet"/>
  <title>YouTube</title>
  <body>
    <center>
      <div class="container col s12" id="containerlogin">
        <div class="row">
          <div class="container col s12" id="google"><img id="logogoogle" src="img/google.png" alt=""/></div>
          <div class="container col s12" id="containertxt1"> 
            <p id="txt1">Acceder</p>
          </div>
          <div class="container col s12" id="containertxt2"> 
            <p id="txt2">Continuar con YouTube</p>
          </div>
          <div class="container col s12">
            <div class="container col s4 hide-on-small-only" id="subcontainer1"></div>
            <div class="container input-field col s12" id="email">
              <label id="labelinput" for="user">Correo electrónico o teléfono</label>
              <input class="validate section" id="user" type="email"/>
            </div>
            <div class="container col s4 hide-on-small-and-down" id="subcontainer2"></div>
          </div>
          <div class="container col s12"><b> <a id="emailforgot" href="#">¿Olvidaste tu correo electrónico?</a></b></div>
          <div class="container col s12">
            <p id="txt4">¿Esta no es tu computadora? Usa una ventana privada para acceder <a id="txt5" href="#"> <b>Más información</b></a></p>
          </div>
          <div class="container col s12" id="buttons">
            <div class="container col s7"><a id="txt6" href="#">Crear cuenta</a></div>
            <div class="container col s5">
              <button class="btn" id="txt7"><b>Siguiente</b></button>
            </div>
          </div>
        </div>
      </div>
    </center>
    <div class="container footer col s12">
      <div class="row">
        <div class="container footer2 col s11 m6">
          <ul class="dropdown-content" id="dropdown2">
            <li><a href="#!">asdf<span class="badge"></span></a></li>
            <li><a href="#!"><span class="badge"></span></a></li>
            <li><a href="#!"><span class="badge"></span></a></li>
          </ul><a class="dropdown-trigger" href="#!" data-target="dropdown2">Español (Latinoamerica)<i class="material-icons right" id="dropdown2btn">arrow_drop_down</i></a>
        </div>
        <div class="container footer3 col s12 m6"><a class="col s3" id="txt8">Ayuda</a><a class="col s4" id="txt9">Privacidad</a><a class="col s3" id="txt10">Condiciones</a></div>
      </div>
    </div><script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>$('.dropdown-trigger').dropdown();</script>
  </body>
</html>