
<html lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="sass/materialize.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="sass/youtube.css" rel="stylesheet"/>
  <link href="sass/sidenav.css" rel="stylesheet"/>
  <link href="sass/subir_video.css" rel="stylesheet"/>
  <title>YouTube</title>
  <body>
    <div id="container-navbar">
      <center>
        <div class="row">
          <div class="col s1" id="container1">
            <ul class="sidenav" id="slide-out">
              <li:hover class="ppp"><a class="sidenav-close" href="#"><i class="material-icons">menu </i></a><img id="logoside" src="img/logo.png" alt=""/></li:hover>
              <li class="home"><a id="home" href="#!"><i class="material-icons home">home</i>
                  <h6 id="inicio">Inicio</h6></a></li>
              <li class="tendencias"><a id="trends" href="#!"><i class="material-icons trends">whatshot</i>
                  <h6 id="inicio">Tendencias</h6></a></li>
              <li class="subs"><a id="subscriptions" href="#"><i class="material-icons subscriptions">subscriptions</i>
                  <h6 id="inicio">Suscripciones</h6></a></li>
              <div class="divider"></div>
              <li class="biblioteca"><a id="subscriptions" href="#"><i class="material-icons biblioteca">folder</i>
                  <h6 id="inicio">Biblioteca</h6></a></li>
              <li class="historial"><a id="subscriptions" href="#"><i class="material-icons historial">history</i>
                  <h6 id="inicio">Historial</h6></a></li>
              <li class="mastarde"><a id="subscriptions" href="#"><i class="material-icons mastarde">watch_later</i>
                  <h6 id="inicio">Ver más tarde</h6></a></li>
              <li class="megusta"><a id="subscriptions" href="#"><i class="material-icons megusta">thumb_up</i>
                  <h6 id="inicio">Videos que gustaron</h6></a></li>
              <div class="divider"></div>
              <li>
                <p class="subheader">SUSCRIPCIONES</p>
              </li>
              <div class="divider"></div>
              <li>
                <p class="subheader">MÁS DE YOUTUBE</p>
              </li>
              <li class="yp"><a id="subscriptions" href="#"><i class="material-icons yp">play_circle_filled</i>
                  <h6 id="inicio">Youtube premium</h6></a></li>
              <li class="theaters"><a id="subscriptions" href="#"><i class="material-icons theaters">theaters</i>
                  <h6 id="inicio">Peliculas de Youtube </h6></a></li>
              <div class="divider"></div>
              <li class="settings"><a id="subscriptions" href="#"><i class="material-icons settings">settings</i>
                  <h6 id="inicio">Herramientas</h6></a></li>
              <li class="help"><a id="subscriptions" href="#"><i class="material-icons help">help</i>
                  <h6 id="inicio">Ayuda</h6></a></li>
              <li class="feedback"><a id="subscriptions" href="#"><i class="material-icons feedback">feedback</i>
                  <h6 id="inicio">Enviar sugerencias</h6></a></li>
              <div class="divider"></div>
              <div class="copyright">
                <h6>Información PrensaDerechos de autor Contacto Creadores Publicidad Desarrolladores</h6>
                <h6>TérminosPrivacidadPolítica y seguridadProbar las nuevas funciones</h6>
                <h6>© 2019 YouTube, LLC</h6>
              </div>
            </ul><a class="sidenav-trigger" href="#" data-target="slide-out"><i class="material-icons menu">menu  </i></a>
          </div>
          <div class="col s2" id="container2"><a href="/"><img class="left-align" id="logonavbar" src="img/logo.png" alt=""/></a></div>
          <div class="col s2 m2 l3 xl3 hide-on-med-only" id="container3"></div>
          <div class="col hide-on-small-only" id="container4">
            <div class="row">
              <div class="input-field col m6 l7 xl9">
                <input id="search" type="search" placeholder="Search"/>
              </div>
              <div class="input-field col m2 pulse"><i class="waves-effect material-icons btn-gray search" id="btnsearch">search</i></div>
            </div>
          </div>
          <div class="colm2 hide-on-med-down" id="container5"></div>
          <div class="col s3" id="container6">
            <div class="section">
              <div class="col s2 m3 hide-on-med-and-up show-on-small"><a class="material-icons" id="videocall" href="#">search</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="subir_video">video_call</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">blur_on</a></div>
              <div class="col s2 m3 hide-on-small-only xl3"><a class="material-icons" id="videocall" href="#">notifications</a></div>
              <div class="col s2 m2"><a class="material-icons perfil dropdown-trigger" id="perfil" data-target="dropdown2">account_circle
                  <ul class="dropdown-content" id="dropdown2"><img style="width: 290px;" src="img/profile.JPG"/>
                    <div style="padding-top: 8px;"><a>
                        <p style="padding-left: 38px; color: #065FD5; font-size: 14.5px; font-weight: 500" href="">Administra tu cuenta Google</p></a></div>
                    <div style="padding-top: 13px; padding-bottom: 8px;">
                      <li class="divider" tabindex="-1"></li>
                    </div>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">account_box</i>
                        <p style=" color: black; font-size: 15px;">Tu cuenta</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">monetization_on</i>
                        <p style=" color: black; font-size: 15px;">Membresias pagadas</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">settings</i>
                        <p style=" color: black; font-size: 15px;">youtube Studio(BETA)</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">account_box</i>
                        <p style=" color: black; font-size: 15px;">Cambiar cuenta</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">open_in_new</i>
                        <p style=" color: black; font-size: 15px;">Salir</p></a></li>
                    <div style="padding-top: 13px; padding-bottom: 8px;">
                      <li class="divider" tabindex="-1"></li>
                    </div>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">brightness_4</i>
                        <p style=" color: black; font-size: 15px;">Tema Oscuro: Activado</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">brightness_4</i>
                        <p style=" color: black; font-size: 15px;">Idioma: Español</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">language</i>
                        <p style=" color: black; font-size: 15px;">Idioma: Español</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">settings</i>
                        <p style=" color: black; font-size: 15px;">Configuración</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">security</i>
                        <p style=" color: black; font-size: 15px;">Tus datos en youtube</p></a></li>
                    <li><a href=""><i class="material-icons" style="color: #9b9b9b; font-size: 23px;">live_help</i>
                        <p style=" color: black; font-size: 15px;">Ayuda</p></a></li>
                  </ul></a></div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);
      });
    </script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.dropdown1');
          var instances = M.Sidenav.init(elems);
      });
    </script>
    <div style="background-color: #F9F9F9; margin-top:-50px"></div>
    <div style="background-color: #F9F9F9; margin-top:50px; width:100%; height:50px"></div>
    <div style="background-color: #F9F9F9"><br/>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s6">
          <div class="row">
            <div class="col s2"></div>
            <div class="col s10" style="background-color:#000">
              <center>
                <video class="responsive-video" controls="controls">
                  <source src="img/videoplayback.mp4" type="video/mp4"/>
                </video>
              </center>
            </div>
          </div>
          <div class="row">
            <div class="col s2"></div><b style="font-size:20px">Gallina pifi</b>
          </div>
          <div class="row" style="margin-top:-20px">
            <div class="col s2"></div>
            <div class="col s5">
              <p style="color:#777; font-size: 13px">275,000,000 visualizaciones - 03 nov. 2019</p>
            </div>
            <div class="col s1" style="margin-top: 8px"><a href="#"><i class="material-icons" style="font-size: 23px;">thumb_up</i></a></div>
            <div class="col s1" style="margin-top: 8px"><a href="#"><i class="material-icons" style="font-size: 23px;">thumb_down</i></a></div>
            <div class="col s1" style="margin-top: 8px"><a href="#"><i class="material-icons" style="font-size: 23px; transform: scale(-1,1)">reply</i></a></div>
            <div class="col s1" style="margin-top: 8px"><a href="#"><i class="material-icons" style="font-size: 23px">playlist_add</i></a></div>
            <div class="col s1" style="margin-top: 8px"><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons" style="font-size: 23px">more_horiz</i></a>
              <u class="dropdown-content" id="dropdown1">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
              </u>
            </div>
          </div>
          <div class="row" style="margin-top:-10px">
            <div class="col s2"></div>
            <div class="col s10">
              <center>
                <hr/>
              </center>
            </div>
          </div>
        </div>
        <div class="col s1"></div>
        <div class="col s4" style="position:relative;">
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
          <div style="margin-top:10px"><img style="height: 100px; width: 180px" src="img/presentacionvideo.png"/>
            <div style="height: 100px; width: 180px; margin-top:-100px; position:absolute"><a href="reproducirvideo">
                <div style="height:100px; width:180px"></div>
                <div style="background-color: #000; height: 20%; width: 23%; margin-left:75%; margin-top:-15%; position:absolute">
                  <center>
                    <p style="color: #FFF; font-size:80%; margin-top:0%">00:30</p>
                  </center>
                </div></a></div>
          </div>
          <div style="height:100px; margin-top:-100px; margin-left: 190px"><a href="reproducirvideo">
              <div style="height:100px"><b style="color: #000; font-size:15">Gallina pifi</b>
                <p style="color: #777; margin-top:5px">Mr. pifi</p>
                <p style="color: #777; margin-top:-15px">275 M  visualizaciones</p>
              </div></a></div>
        </div>
      </div>
    </div>
  </body>
</html>