include componentes_pug/header
include componentes_pug/navbar

html(lang="en")
    head
        +header_component

    body
        +navbar_component

        .container
            .container(id="container2suscripcion")
                h5 Ofertas de YouTube