include componentes_pug/header
include componentes_pug/navbar

html(lang="en")
    head
        +header_component

    body
        +navbar_component

        .container
            .container(id="container2suscripcion")
                strong
                    h5#txt1_susc Ofertas de YouTube
                        .row
                            .container(class="col s12 m6")
                                .card#card_premium
                                    .card-image
                                        img#logo_premium(src="img/logo-premium.jpg")
                                    
                                    
                                        h5#txt2_susc Disfruta de un mes gratis de YouTube Premium
                                        h5#txt3_susc Da el salto a YouTube Premium para disfrutar de contenido sin anuncios, descargas y la reproducción en segundo plano.
                                        .row
                                            .container(class="col s4")
                                            .container(class="col s8")
                                                a#txt4_susc Más Información

                            .container(class="col s12 m6")
                                .card#card_premium
                                    .card-image
                                        img#logo_premium(src="img/logo-music.png")
                                    
                                    
                                        h5#txt2_susc Música ininterrumpida: primer mes gratis
                                        h5#txt3_susc Da el salto a Music Premium paraa disfrutar de descargas, música sin anuncioss y la reproducción en segundo plano.
                                        .row
                                            .container(class="col s4")
                                            .container(class="col s8")
                                                a#txt4_susc Más Información
                