include componentes_pug/header
include componentes_pug/navbar
include componentes_pug/sidenav
doctype
html(lang='en')
    head
        +header_component
    body
        +navbar_component

        div(class="row" style="margin-bottom:0px; height: 52px;")
        div(class="row")
            div(class="col y1")
                div(class="p1")
                    div(class="lvimg")
                        img(src="img/presentacionvideo.png", alt="",style="max-height:199.75px;", class="lvimg")

                    div(style="margin: 0 0;",class="title-yt-vl")
                        b Videos que me gustan

                    div(class="title2-yt-vl")
                        a(style="color: #606060;") 1,884 videos  2 vistas  Se actualizó por última vez el 28 oct. 2019
                    a(class="waves-effect waves-light btn-small disabled") Privado
                        i(class="material-icons left") lock_outline
                    br
                    br
                    a(class="btn-floating btn-small waves-effect waves-light lighten-5")
                        i(class="grey material-icons") shuffle
            a(class="col y2 btn" href="/reproducirvideo")
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr
                div(class="p2 row" style="margin-bottom: 0px; margin-bottom:0px;")
                    div(class="col" style="padding-top: 33px;")
                        b(class="" style="color: #000;") 2
                    div(class="col" style="margin-bottom: 0px; padding-top:9px;")
                        img(src="img/presentacionvideo.png", alt="" style="height: 70px; width: 120px")
                    div(class="col" style="padding-top: 9px;")
                        div(class="row" style="height:0px")
                            b(style="color: #000; font-size:15px") Gallina pifi
                            p(style="color: #777; margin-top:5px; font-size:11.94px") Mr. pifi
                hr






