include componentes_pug/header
include componentes_pug/navbar
include componentes_pug/sidenav
doctype
html(lang='en')
    head
        +header_component
    body
        +navbar_component

        div(class="row")
            div(class="col y1")
                div(class="p1")
                    div(class="lvimg")
                    p Videos que me gustan
                    p 1,884 videos2 vistasSe actualizó por última vez el 28 oct. 2019

            div(class="col y2")
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a

