<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="sass/materialize.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="sass/youtube.css" rel="stylesheet"/>
    <link href="sass/sidenav.css" rel="stylesheet"/>
    <title>YouTube</title>
  </head>
  <body>
    <div>
      <center>
        <div class="row">
          <div class="col s1" id="container1">
            <ul class="sidenav" id="slide-out">
              <li:hover class="ppp"><a class="sidenav-close" href="#"><i class="material-icons">menu </i></a><img id="logoside" src="img/logo.png" alt=""/></li:hover>
              <li class="home"><a id="home" href="#!"><i class="material-icons home">home</i>
                  <h6 id="inicio">Inicio</h6></a></li>
              <li class="tendencias"><a id="trends" href="#!"><i class="material-icons trends">whatshot</i>
                  <h6 id="inicio">Tendencias</h6></a></li>
              <li class="subs"><a id="subscriptions" href="#"><i class="material-icons subscriptions">subscriptions</i>
                  <h6 id="inicio">Subscripciones</h6></a></li>
              <div class="divider"></div>
              <li class="biblioteca"><a id="subscriptions" href="#"><i class="material-icons biblioteca">folder</i>
                  <h6 id="inicio">Biblioteca</h6></a></li>
              <li class="historial"><a id="subscriptions" href="#"><i class="material-icons historial">history</i>
                  <h6 id="inicio">Historial</h6></a></li>
              <li class="mastarde"><a id="subscriptions" href="#"><i class="material-icons mastarde">watch_later</i>
                  <h6 id="inicio">Ver más tarde</h6></a></li>
              <li class="megusta"><a id="subscriptions" href="#"><i class="material-icons megusta">thumb_up</i>
                  <h6 id="inicio">Vídeos que te gustaron</h6></a></li>
            </ul><a class="sidenav-trigger" href="#" data-target="slide-out"><i class="material-icons menu">menu    </i></a>
          </div>
          <div class="col s2" id="container2"><img class="left-align" id="logo" src="img/logo.png" alt=""/></div>
          <div class="col s2 m2 l3 xl3 hide-on-med-only" id="container3"></div>
          <div class="col hide-on-small-only" id="container4">
            <div class="row">
              <div class="input-field col m6 l7 xl9">
                <input id="search" type="search" placeholder="Search"/>
              </div>
              <div class="input-field col m2 pulse"><i class="waves-effect material-icons btn-gray search" id="btnsearch">search</i></div>
            </div>
          </div>
          <div class="colm2 hide-on-med-down" id="container5"></div>
          <div class="col s3" id="container6">
            <div class="section">
              <div class="col s2 m3 hide-on-med-and-up show-on-small"><a class="material-icons" id="videocall" href="#">search</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">video_call</a></div>
              <div class="col s2 m3 xl2"><a class="material-icons" id="videocall" href="#">blur_on</a></div>
              <div class="col s2 m3 hide-on-small-only xl3"><a class="material-icons" id="videocall" href="#">notifications</a></div>
              <div class="col s2 m2"><a class="material-icons perfil" id="perfil">account_circle</a></div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <div class="row">
      <div class="col y1">
        <div class="p1">
          <div class="lvimg"></div>
          <p>Videos que me gustan</p>
          <p>1,884 videos2 vistasSe actualizó por última vez el 28 oct. 2019</p>
        </div>
      </div>
      <div class="col y2">
        <div class="p2">
          <p>a</p>
        </div>
        <div class="p2">
          <p>a</p>
        </div>
        <div class="p2">
          <p>a</p>
        </div>
        <div class="p2">
          <p>a</p>
        </div>
        <div class="p2">
          <p>a</p>
        </div>
      </div>
    </div>
  </body>
</html>