include componentes_pug/header
include componentes_pug/navbar
include componentes_pug/sidenav
doctype
html(lang='en')
    head
        +header_component
    body
        +navbar_component

        div(class="row")
            div(class="col y1")
                div(class="p1")
                    div(class="lvimg")
                        img(src="img/hqdefault.jpg", alt="",style="max-height:199.75px;", class="lvimg")

                    div(style="margin: 0 0;",class="title-yt-vl") Videos que me gustan

                    div(class="title2-yt-vl")
                        a(style="color: #606060;") 1,884 videos  2 vistas  Se actualizó por última vez el 28 oct. 2019
                    a(class="waves-effect waves-light btn-small disabled") Privado
                        i(class="material-icons left") lock_outline
                    br
                    br
                    a(class="btn-floating btn-small waves-effect waves-light lighten-5")
                        i(class="grey material-icons") shuffle
            div(class="col y2")
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a
                div(class="p2")
                    p a

